{% extends 'base.html.twig' %}

{% block title %}Hello ObjetITEM!{% endblock %}


{% block body %}


<div class = "objetDescribe">
    <h1></h1>
    <div class = "objetDescribe__img">
        <img src="{{ asset('imgObjet/' ~ objetItem.image )}}" alt="">
    </div>

</div>
{% endblock %}